.carousel-inner img {
    height: 100%;
    width: 100%;
    
}

div.carousel {
    height: 100%;
}

div.carousel-inner {
    height: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
}


@media(min-width:800px){
    .playerContainer {
      width: 33.33%;
    }
}
@media(max-width:800px){
    .playerContainer {
        width: 100%;
    }
}
.playerContainer {
    height: 300px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    transition: .5s ease;
  
}

a.playerContainer:hover {
    background-color: #dc3545;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media(min-width:1300px) {
    div.intro{
        padding-right: 75%;
    }
}

div.intro {
    height: 12em;
    background-color: #dc3545;
    background-image: linear-gradient(to bottom, black, #dc3545);
    color: white;
    padding-left: 20px;
    padding-top: 15px;
}

nav {
    background-color: #dc3545; 
    background-image: linear-gradient(to top right, #dc3545, black );
    box-shadow: 0px 5px 10px black;
}

footer {
    background-color: #dc3545; 
    background-image: linear-gradient(to bottom right, black, #dc3545);
    height: 300px;
    font-size: 50px;
    text-align: center;
    color: white;
    padding-top: 50px;
}

a.playerContainer {
    color: black;
    text-emphasis: none;
    text-decoration: none;
    padding: 5px;
    
}